@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumbotron {
        position: relative;
        padding: 0px;
    }

    #imagenIndex {
        opacity: 0.3;
        width: 100%;
        height: 400px;
    }

    #tituloIndex {
        position: absolute;
        top: 10%;
        left: 3%;
    }

    #parrafoIndex {
        position: absolute;
        top: 33%;
        left: 3%;
        font-size: 29px;
    }
</style>

<div class="jumbotron" @*style="background-image: url('../../Content/AdminLTE-3.2.0/img/fondoIndex.png');"*@>
    <img src="~/Content/AdminLTE-3.2.0/img/fondoIndex.png" id="imagenIndex" />
    <h1 id="tituloIndex" style="font-size:80px">Empresa de Envíos TPE</h1>
    <p class="lead" id="parrafoIndex" style="font-size:30px"><b>Brindamos soluciones de envios dentro y fuera de la ciudad a nivel nacional Envios TPE Todo lo que Pueda Enviar </b></p>
</div>

<div class="row">
    <div class="col-md-4" style="background: #bcbce1; padding: 28px">
        <h2>Seguridad</h2>
        <p>
            Nuestra prioridad es que su mercancia llegue a su destino en optimas condiciones,
            evitando posibles perdidas por deterioro durante el trayecto
        </p>
    </div>
    <div class="col-md-4" style="background: #bcdae1; padding: 28px">
        <h2>Agilidad</h2>
        <p>
            Velamos porque las entregas se realicen en el menor tiempo posible, para lo que contamos con una amplia
            red de vehículos para que sus paquetes lleguen sin retrazos
        </p>
    </div>
    <div class="col-md-4" style="background: #bcbce1; padding: 28px">
        <h2>Experiencia</h2>
        <p>
            Tenemos varios años de experiencia en el servicio de mensajeria, siendo reconocidos nacionalmente como
            una de las empresas mas confiables del sector.
        </p>
    </div>
</div>