
@{
    ViewBag.Title = "Registro Envio";
}


<nav class="main-header navbar navbar-expand navbar-white navbar-light" style="margin-left: 0px; margin-bottom: 9px; ">
    <h2>Registro Envío</h2>
</nav>

<div class="card card-primary" id="Contendor1" style="display:block">
    <div class="card-header bg-success">
        <h1 class="card-title">Remitente</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <br />
            <div class="col-md-4">
                <label>Numero de identificaciòn</label>
                <input class="form-control" style="width:100%" id="IdentificacionEnvia" placeholder="Ingrese cedula">
                <br />
            </div>
            <div class="col-md-4">
                <label>Nombres</label>
                <input class="form-control" style="width:100%" id="NombreEnvia" placeholder="Ingrese nombre">
                <br />
            </div>
            <div class="col-md-4">
                <label>Apellidos</label>
                <input class="form-control" style="width:100%" id="ApellidoEnvia" placeholder="Ingrese apellidos">
                <br />
            </div>
            <div class="col-md-4">
                <label>Direcciòn</label>
                <input class="form-control" style="width:100%" id="DireccionEnvia" placeholder="Ingrese direccion">
                <br />
            </div>
            <div class="col-md-4">
                <label>Numero telefonico</label>
                <input class="form-control" style="width:100%" id="TelefonoEnvia" placeholder="Ingrese telefono">
                <br />
            </div>
        </div>

        <div class="row" style="padding-left: 15px">
            <button type="submit" class="btn btn-success" onclick="MostrarPaso2()">Siguiente</button>
        </div>
    </div>
    <br />
</div>

<div class="card card-primary" id="Contendor2" style="display:none">
    <div class="card-header bg-success">
        <h2 class="card-title">Destinatario</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <br />
            <div class="col-md-4">
                <label>Numero de identificaciòn</label>
                <input class="form-control" id="IdentificacionRecibe" placeholder="Ingrese cedula">
                <br />
            </div>
            <div class="col-md-4">
                <label>Nombres</label>
                <input class="form-control" id="NombreRecibe" placeholder="Ingrese nombre">
                <br />
            </div>
            <div class="col-md-4">
                <label>Apellidos</label>
                <input class="form-control" id="ApellidoRecibe" placeholder="Ingrese apellidos">
                <br />
            </div>

            <div class="col-md-4">
                <label>Direcciòn destino</label>
                <input class="form-control" id="DireccionRecibe" placeholder="Ingrese direccion">
                <br />
            </div>
            <div class="col-md-4">
                <label>Numero telefonico</label>
                <input class="form-control" id="TelefonoRecibe" placeholder="Ingrese telefono">
                <br />
            </div>
        </div>

        <div class="row" style="padding-left: 15px">
            <button type="submit" class="btn btn-success" onclick="MostrarPaso1()">Regresar</button>
            <button type="submit" class="btn btn-primary" onclick="MostrarPaso3()">Siguiente</button>
        </div>
    </div>
    <br />
</div>

<div class="card card-primary" id="Contendor3" style="display:none">
    <div class="card-header bg-success">
        <h2 class="card-title">Producto</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <br />
            <div class="col-md-4">
                <label>Tipo producto</label>
                <select class="form-control" id="TipoPaquete" onchange="VerificarTipoPaquete()">
                    <option value="" selected disabled>Seleccione</option>
                    <option value="Documento">Documento</option>
                    <option value="Paquete">Paquete</option>
                </select>
                <br />
            </div>
            <div class="col-md-2">
                <label>Peso</label>
                <input class="form-control" id="PesoProducto" placeholder="Peso en kg">
                <br />
            </div>
            <div class="col-md-2" id="mostrarAltoProducto" style="display:none">
                <label>Alto</label>
                <input class="form-control" id="AltoProducto" placeholder="Peso en cm">
                <br />
            </div>
            <div class="col-md-2" id="mostrarAnchoProducto" style="display:none">
                <label>Ancho</label>
                <input class="form-control" id="AnchoProducto" placeholder="Ancho en cm">
                <br />
            </div>
            <div class="col-md-2" id="mostrarLargoProducto" style="display:none">
                <label>Largo</label>
                <input class="form-control" id="LargoProducto" placeholder="Largo en cm">
                <br />
            </div>
            <div class="col-md-12" id="" style="display:block">
                <label>Descripción</label>
                <textarea class="form-control" id="DescripcionProducto" placeholder="Ingrese descripción del producto" rows="4"></textarea>
                <br />
            </div>
        </div>

        <div class="row" style="padding-left: 15px">
            <button type="submit" class="btn btn-success" onclick="MostrarPaso2()">Regresar</button>
            <button type="submit" class="btn btn-primary" onclick="GuardarEnvio()">Guardar</button>
        </div>
    </div>

</div>

